.container{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* Search/add bar */
.searchFieldContainer{
    width:100%;
    min-height: 30px;
    border:1px solid grey;
    border-radius: 5px;
    /* padding:3px; */
    display:flex;
}
.searchField{
    width:90%;
    border:none;
    padding:2px;
    border-radius: 5px;
}
.addButton{
    background-color:red;
    width:10%;
}
/* Tag List */
.tagList{
    width:100%;
    display: flex;
    flex-direction: row;
    width:100%;
    border:1px solid orange;
    flex-wrap: wrap;
}

/* Todo List */
.todoUl{
    padding: 0;
    margin:0;
    list-style-type: none;
    width:100%;
}
.todoListContainer{
    width:100%;
    border:1px solid pink;
}
.todoLi{
    display:flex;
    flex-direction: row;
    margin:2px 0;
}

/* Todo Row */
.todoChkDiv{
    min-width: 10%;
}
.todoTxtDiv{
    min-width: 60%;
}
.todoTagsDiv{
    min-width: 30%;
    flex-wrap: wrap;
}

.roundedBtn{
    border: none;
    border-radius: 5px;
    padding:5px;
    min-width:40px;
    color:white;
    font-weight: bold;
    margin:2px 2px;
    max-height:30px;
}
